Repository FloncDev/exquisite-exoplanets, pull requests merged in 2024-07, with the labels that each got.

#29 API Merge | Company Endpoints
  api/README.md
  api/__init__.py
  api/poetry.lock
  api/pyproject.toml
  api/src/classes/__init__.py
  api/src/classes/company.py
  api/src/classes/pagination.py
  api/src/db.py
  api/src/main.py
  api/src/models.py
  api/src/routers/__init__.py
  api/src/routers/company.py
  api/src/routers/user.py
  api/src/snekbox.py
  compose.yaml
Labels: backend

#35 Create Company Command
  bot/src/cogs/companies.py
  bot/src/context.py
  bot/src/main.py
Labels: frontend

#36 make the game engine
  api/pyproject.toml
  api/src/__init__.py
  api/src/company.py
  api/src/logs.py
  api/src/planet.py
  api/src/resource.py
  api/src/resource_collector.py
  api/src/yaml_reader.py
  game_config/Planet.yaml
  game_config/Resource.yaml
  game_config/ResourceCollector.yaml
Labels: game

#40 Implement API into discord commands
  bot/src/cogs/accounts.py
  bot/src/cogs/companies.py
  bot/src/main.py
Labels: frontend

#37 API | New Endpoints
  api/pyproject.toml
  api/src/classes/achievements.py
  api/src/classes/company.py
  api/src/classes/pagination.py
  api/src/classes/shop.py
  api/src/main.py
  api/src/models.py
  api/src/routers/achievement.py
  api/src/routers/company.py
  api/src/routers/shop.py
  api/src/routers/user.py
Labels: backend, api

#42 Implement finer levelling control
  api/src/models.py
  api/src/routers/user.py
Labels: backend, api

#45 API changes.
  api/README.md
  api/src/classes/company.py
  api/src/classes/pagination.py
  api/src/classes/shop.py
  api/src/classes/user.py
  api/src/models.py
  api/src/routers/achievement.py
  api/src/routers/company.py
  api/src/routers/shop.py
  api/src/routers/user.py
Labels: documentation, backend, api

#43 Discord shop
  api/src/classes/company.py
  api/src/models.py
  bot/src/cogs/companies.py
  bot/src/cogs/shop.py
  bot/src/context.py
  bot/src/main.py
  bot/src/wrapper/_communication.py
  bot/src/wrapper/schema.py
Labels: frontend
